@{
    ViewBag.Title = "About";
}

<h2>About CapRaffle</h2>

<p>
    The main goal of the web application is to handle the process of drawing winners for tickets to various events. 
    A user can register in the system, and then register interest for tickets for a specific event. 
    If the user cannot register for some reason, the event creator can do it. 
    The event creator can then start a raffle-draw that will display the winners. 
    If for some reason one of the winners cannot participate in the event, the event creator can delete a winner
    and perform a redraw on the now available spots.
</p>
<p>
    The system also supports different rules when raffling, most of the rules favors the user that has less wins in 
    the same category, this way there is a bigger chance for a “first timer” to get the ticket. Event Creator can 
    choose which rules to apply on each event or just use default rules for a category.
</p>
<p>
    All logged in users can create categories and events; this way there is no need to give permissions
    if a new person takes the responsibility for handing out the tickets. The creator can also edit and delete the event.
</p>

<h3>Feature request</h3>
<p>
    If you have a suggestion for how to improve or enhance CapRaffle, your input is always welcome. Please submit your 
    suggestions through our <a href="https://github.com/arneaase/CapRaffle/issues">github page</a>, or by contacting one of 
    the contributors directly. We will approve or reject all suggestions; if your suggestion is approved we will implement
    it as fast as possible. You can follow us on github to see if your suggestion has been approved or not, you can also
    see if it has been chosen for the current milestone.
</p>

<h3>Report Issue</h3>
<p>
    Thank you for trying CapRaffle, we encourage you to report problems by submitting an issue on github, or by contacting
    one of the contributors directly. You may also want to check out the 
    <a href="https://github.com/arneaase/CapRaffle/issues">known issues</a> page to see if we're already aware of the problem.

    <h4>When you report issues, please try to include the following if possible</h4>
    <ul>
        <li>The full web address (url) of the page you requested</li>
        <li>The URL of the page you ended up at, if different</li>
        <li>a description of the problem</li>
        <li>
            Any information you can think of that will help us recreate the problem, such as what you were doing
            leading up to the issue (i.e. "I went to this URL, pressed this button, then saw the problem")
        </li>
        <li>
            The browser you are using (Internet Explorer, Firefox, Safari, etc), including the version number
            if you know it.
        </li>
    </ul>

</p>
    <h3>Contributors:</h3>
    <ul style="list-style-type: none">
        <li>Stig Rune Malterud</li>
        <li>Arne Aase</li>
        <li>Bente Cecilie Andorsen</li>
    </ul>
