@{
    ViewBag.Title = "Error";
}

<h2>CapRaffle - Error</h2>

<p>
   Sorry, the action you have requested resulted in an error message. Please report it to us by sending an email to
   any of the contributors, or by submitting an issue on <a href="https://github.com/arneaase/CapRaffle/issues">github</a>
</p>


<h4>When you report issues, please try to include the following if possible</h4>
<ul>
    <li>The full web address (url) of the page you requested</li>
    <li>The URL of the page you ended up at, if different</li>
    <li>a description of the problem</li>
    <li>
        Any information you can think of that will help us recreate the problem, such as what you were doing
        leading up to the issue (i.e. "I went to this URL, pressed this button, then saw the problem")
    </li>
    <li>
        The browser you are using (Internet Explorer, Firefox, Safari, etc), including the version number
        if you know it.
    </li>
</ul>
