@model IEnumerable<CapRaffle.Domain.Model.Winner>

<table id="WinnerTable" class="tablesorter" style="width: 25%">
    <thead>
        <th>Name</th>
        <th>Spots</th>
    </thead>
    @foreach (var winner in Model) {
        <tr>
            <td>@winner.User.Name</td>
            <td>@winner.NumberOfSpotsWon</td>
        </tr>
    }
    </table>