<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="CapRaffleContext" connectionString="metadata=res://*/Model.CapRaffle.csdl|res://*/Model.CapRaffle.ssdl|res://*/Model.CapRaffle.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=CapRaffle;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <appSettings>
        <add key="SmtpServer" value="MyApplication"/>
        <add key="SmtpUseSsl" value="false"/>
        <add key="SmtpMailFromAddress" value="capraffle@capgemini.com"/>
        <add key="SmtpUsername" value=""/>
        <add key="SmtpPassword" value=""/>
        <add key="SmtpServerPort" value="25"/>
        <add key="SmtpWriteAsFile" value="true"/>
        <add key="SmtpFileLocation" value="c:\\temp\\"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
