@model CapRaffle.Models.CategoryListViewModel

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<table>
    <tr>
        <th align="left">Name</th>
        <th>Is active</th>
    </tr>

@foreach (var item in Model.Categories)
{
    <tr>
        <th align="left">@Html.ActionLink(item.Name, "Edit", new { item.CategoryId })</th>
        <th>@Html.CheckBoxFor(x => item.IsActive, new { @disabled = "disabled" })</th>        
    </tr>
}

</table>

@Html.ActionLink("Create a new category", "Create")
