@model CapRaffle.Models.CategoryListViewModel

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>

@foreach (var item in Model.Categories)
{
    <tr>
        <th>@item.CategoryId</th>        
        <th>@Html.ActionLink(item.Name, "Edit", new { item.CategoryId })</th>
    </tr>
}

</table>

@Html.ActionLink("Create a new category", "Create")
