@model CapRaffle.Models.DrawWinnerViewModel

<script type="text/javascript">

    var array;
    var winnerIndex = 0;
    var winner;
    var model = jQuery.parseJSON('@Html.Raw(Json.Encode(Model.Winners.Select(x => new { Name = x.User.Name, Spots = x.NumberOfSpotsWon, UserEmail = x.UserEmail, EventId = x.EventId})))');

    $(document).ready(function () {
        var string = '@Html.Raw(Json.Encode(Model.Winners.Select(x => x.User.Name))).ToString()';
        string = string.replace(/&quot;/g, "");
        string = string.replace(/\[/g, "");
        string = string.replace(/\]/g, "");
        array = string.split(",");
    });
    appendWinner();

    function iterateWinners() {
        if (winnerIndex <= array.length) {
            winner = array[winnerIndex];
            setTimeout('appendWinner()', 2000);
        }
    }
    
    function appendWinner() {
        var url = '@Url.Content("~/Content/images/cross.png")';

        var isCreator = '@TempData["isCreator"]';
        var app = "<tr>";
        if (isCreator == "True") {
            app += "<td><img class='DeleteWinner' src='" + url + "' alt='' />";
            app += "<input type='hidden' class='winnerEmail' name='Participant' value=" + model[winnerIndex].UserEmail + " />";
            app += "<input type='hidden' class='Eventid' name='EventId' value=" + model[winnerIndex].EventId + " />";
            app += "</td>";
        }
        app += "<td>" + model[winnerIndex].Name + "</td><td class='spots'>" + model[winnerIndex].Spots + "</td></tr>";
        $("#WinnerTable").append(app)
        updateSpotsLeft();
        winnerIndex += 1;
        iterateWinners();
    }
</script>