@model CapRaffle.Models.DrawWinnerViewModel
<script src="@Url.Content("~/Scripts/jquery.flightboard.min.js")" type="text/javascript"></script>
<div id="basicBoard"></div>
<br />
<br />
<br />
<div id="error"></div>
<script type="text/javascript">
    var counter = 0;
    var arrayLength
    var model = jQuery.parseJSON('@Html.Raw(Json.Encode(Model.Winners.Select(x => new { Name = x.User.Name, Spots = x.NumberOfSpotsWon, UserEmail = x.UserEmail, EventId = x.EventId})))');
    $(function () {
        var string = 'CAPRAFFLE,' + '@Html.Raw(Json.Encode(Model.Winners.Select(x => x.User.Name))).ToString().ToUpper()';
        string = string.replace(/&quot;/g, "");
        string = string.replace(/\[/g, "");
        string = string.replace(/\]/g, "");
        var array = string.split(",");
        arrayLength = array.length;
        $('#basicBoard').flightboard({
            messages: array,
            lettersImage: '/Content/images/flightBoardLarge.png',
            shadingImages: ['/Content/images/flightBoardHigh.png', '/Content/images/flightBoardShad.png'],
            speed: 750,
            pause: 1000,
            flips: [array.length, array.length],
            afterFlip: endedFlip,
            maxLength: 30
        });
    });

    function endedFlip(current, next) {
        if (counter <= arrayLength) {
            if (next != 'CAPRAFFLE') {
                var url = '@Url.Content("~/Content/images/cross.png")';
                $("#WinnerTable").append("<tr><td>" +
                            "<img class='DeleteWinner' src='" + url + "' alt='' />" +
                            "<input type='hidden' class='winnerEmail' name='Participant' value=" + model[counter].UserEmail + " />" +
                            "<input type='hidden' class='Eventid' name='EventId' value=" + model[counter].EventId + " />" +
                        "</td><td>" + model[counter].Name + "</td><td class='spots'>" + model[counter].Spots + "</td></tr>");
                updateSpotsLeft();
            }
            counter++;
        }
    }
</script>