@model CapRaffle.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change password";
}

<h2>Change Password</h2>

@if (TempData["message"] != null) {
    <div class="Message">@TempData["message"]</div>
}
    <p> Logged in as: @Model.Email</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <p>
        <input type="submit" value="Change password" /></p>
}
