@model CapRaffle.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change password";
}

<h2>Change Password</h2>

@if (TempData["message"] != null) {
    <div class="Message">@TempData["message"]</div>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <br />
    <div class="buttons">
        <button type="submit" class="regular" name="save">
            <img src="@Url.Content("~/Content/images/textfield_key.png")" alt=""/>
            Change password
        </button>
    </div>
}
