@model CapRaffle.Models.LogOnViewModel
@{
    ViewBag.Title = "CapRaffle";
}
<p>
    Please log in:</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <p>
        <input type="submit" value="Log in" /></p>
}
@Html.ActionLink("Register here", "Register")