<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CapRaffleContext" connectionString="metadata=res://*/Model.CapRaffle.csdl|res://*/Model.CapRaffle.ssdl|res://*/Model.CapRaffle.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=CapRaffle;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="SmtpServer" value="MyApplication"/>
    <add key="SmtpUseSsl" value="false"/>
    <add key="SmtpMailFromAddress" value="capraffle@capgemini.com"/>
    <add key="SmtpUsername" value=""/>
    <add key="SmtpPassword" value=""/>
    <add key="SmtpServerPort" value="25"/>
    <add key="SmtpWriteAsFile" value="false"/>
    <add key="SmtpFileLocation" value="c:\\temp\\"/>
  </appSettings>
  
</configuration>

