<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CapRaffleContext" connectionString="metadata=res://*/Model.CapRaffle.csdl|res://*/Model.CapRaffle.ssdl|res://*/Model.CapRaffle.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=CapRaffle;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>