/****** Object:  ForeignKey [FK_Category_RuleSet]    Script Date: 10/04/2011 14:14:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Category_RuleSet]') AND parent_object_id = OBJECT_ID(N'[dbo].[Category]'))
ALTER TABLE [dbo].[Category] DROP CONSTRAINT [FK_Category_RuleSet]
GO
/****** Object:  ForeignKey [FK_Event_Category]    Script Date: 10/04/2011 14:14:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Event_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[Event]'))
ALTER TABLE [dbo].[Event] DROP CONSTRAINT [FK_Event_Category]
GO
/****** Object:  ForeignKey [FK_RuleSet_Rule]    Script Date: 10/04/2011 14:14:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RuleSet_Rule]') AND parent_object_id = OBJECT_ID(N'[dbo].[RuleSet]'))
ALTER TABLE [dbo].[RuleSet] DROP CONSTRAINT [FK_RuleSet_Rule]
GO
/****** Object:  ForeignKey [FK_UserEvent_Event]    Script Date: 10/04/2011 14:14:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserEvent_Event]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserEvent]'))
ALTER TABLE [dbo].[UserEvent] DROP CONSTRAINT [FK_UserEvent_Event]
GO
/****** Object:  ForeignKey [FK_UserEvent_User]    Script Date: 10/04/2011 14:14:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserEvent_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserEvent]'))
ALTER TABLE [dbo].[UserEvent] DROP CONSTRAINT [FK_UserEvent_User]
GO
/****** Object:  ForeignKey [FK_Winner_Category]    Script Date: 10/04/2011 14:14:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Winner_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[Winner]'))
ALTER TABLE [dbo].[Winner] DROP CONSTRAINT [FK_Winner_Category]
GO
/****** Object:  ForeignKey [FK_Winner_Event]    Script Date: 10/04/2011 14:14:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Winner_Event]') AND parent_object_id = OBJECT_ID(N'[dbo].[Winner]'))
ALTER TABLE [dbo].[Winner] DROP CONSTRAINT [FK_Winner_Event]
GO
/****** Object:  ForeignKey [FK_Winner_User]    Script Date: 10/04/2011 14:14:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Winner_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[Winner]'))
ALTER TABLE [dbo].[Winner] DROP CONSTRAINT [FK_Winner_User]
GO
/****** Object:  Table [dbo].[UserEvent]    Script Date: 10/04/2011 14:14:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserEvent]') AND type in (N'U'))
DROP TABLE [dbo].[UserEvent]
GO
/****** Object:  Table [dbo].[Winner]    Script Date: 10/04/2011 14:14:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Winner]') AND type in (N'U'))
DROP TABLE [dbo].[Winner]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 10/04/2011 14:14:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Event]') AND type in (N'U'))
DROP TABLE [dbo].[Event]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/04/2011 14:14:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
DROP TABLE [dbo].[Category]
GO
/****** Object:  Table [dbo].[RuleSet]    Script Date: 10/04/2011 14:14:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RuleSet]') AND type in (N'U'))
DROP TABLE [dbo].[RuleSet]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/04/2011 14:14:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[Rule]    Script Date: 10/04/2011 14:14:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rule]') AND type in (N'U'))
DROP TABLE [dbo].[Rule]
GO
/****** Object:  Default [DF_Category_IsActive]    Script Date: 10/04/2011 14:14:39 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_Category_IsActive]') AND parent_object_id = OBJECT_ID(N'[dbo].[Category]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Category_IsActive]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Category] DROP CONSTRAINT [DF_Category_IsActive]
END


End
GO
/****** Object:  Table [dbo].[Rule]    Script Date: 10/04/2011 14:14:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rule]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Rule](
	[RuleId] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ClassName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_Rule] PRIMARY KEY CLUSTERED 
(
	[RuleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/04/2011 14:14:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[User](
	[Email] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Password] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Name] [nvarchar](120) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[RuleSet]    Script Date: 10/04/2011 14:14:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RuleSet]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RuleSet](
	[RuleSetId] [int] IDENTITY(1,1) NOT NULL,
	[RuleId] [int] NOT NULL,
	[Priority] [int] NOT NULL,
 CONSTRAINT [PK_RuleSet] PRIMARY KEY CLUSTERED 
(
	[RuleSetId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/04/2011 14:14:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsActive] [bit] NOT NULL,
	[RuleSetID] [int] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[Event]    Script Date: 10/04/2011 14:14:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Event]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Event](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Created] [datetime] NOT NULL,
	[Creator] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[AvailableSpots] [int] NOT NULL,
	[InformationUrl] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [nvarchar](300) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DeadLine] [datetime] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[DrawRuleSetId] [int] NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[Winner]    Script Date: 10/04/2011 14:14:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Winner]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Winner](
	[EventId] [int] NOT NULL,
	[UserEmail] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NumberOfSpotsWon] [int] NOT NULL,
	[Date] [datetime] NULL,
	[CatogoryId] [int] NOT NULL,
 CONSTRAINT [PK_Winner] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC,
	[UserEmail] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[UserEvent]    Script Date: 10/04/2011 14:14:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserEvent]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserEvent](
	[UserEmail] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EventId] [int] NOT NULL,
	[NumberOfSpots] [int] NOT NULL,
 CONSTRAINT [PK_UserEvent] PRIMARY KEY CLUSTERED 
(
	[UserEmail] ASC,
	[EventId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Default [DF_Category_IsActive]    Script Date: 10/04/2011 14:14:39 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_Category_IsActive]') AND parent_object_id = OBJECT_ID(N'[dbo].[Category]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Category_IsActive]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_IsActive]  DEFAULT ((1)) FOR [IsActive]
END


End
GO
/****** Object:  ForeignKey [FK_Category_RuleSet]    Script Date: 10/04/2011 14:14:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Category_RuleSet]') AND parent_object_id = OBJECT_ID(N'[dbo].[Category]'))
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_RuleSet] FOREIGN KEY([RuleSetID])
REFERENCES [dbo].[RuleSet] ([RuleSetId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Category_RuleSet]') AND parent_object_id = OBJECT_ID(N'[dbo].[Category]'))
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_RuleSet]
GO
/****** Object:  ForeignKey [FK_Event_Category]    Script Date: 10/04/2011 14:14:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Event_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[Event]'))
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Event_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[Event]'))
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Category]
GO
/****** Object:  ForeignKey [FK_RuleSet_Rule]    Script Date: 10/04/2011 14:14:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RuleSet_Rule]') AND parent_object_id = OBJECT_ID(N'[dbo].[RuleSet]'))
ALTER TABLE [dbo].[RuleSet]  WITH CHECK ADD  CONSTRAINT [FK_RuleSet_Rule] FOREIGN KEY([RuleId])
REFERENCES [dbo].[Rule] ([RuleId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RuleSet_Rule]') AND parent_object_id = OBJECT_ID(N'[dbo].[RuleSet]'))
ALTER TABLE [dbo].[RuleSet] CHECK CONSTRAINT [FK_RuleSet_Rule]
GO
/****** Object:  ForeignKey [FK_UserEvent_Event]    Script Date: 10/04/2011 14:14:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserEvent_Event]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserEvent]'))
ALTER TABLE [dbo].[UserEvent]  WITH CHECK ADD  CONSTRAINT [FK_UserEvent_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserEvent_Event]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserEvent]'))
ALTER TABLE [dbo].[UserEvent] CHECK CONSTRAINT [FK_UserEvent_Event]
GO
/****** Object:  ForeignKey [FK_UserEvent_User]    Script Date: 10/04/2011 14:14:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserEvent_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserEvent]'))
ALTER TABLE [dbo].[UserEvent]  WITH CHECK ADD  CONSTRAINT [FK_UserEvent_User] FOREIGN KEY([UserEmail])
REFERENCES [dbo].[User] ([Email])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserEvent_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserEvent]'))
ALTER TABLE [dbo].[UserEvent] CHECK CONSTRAINT [FK_UserEvent_User]
GO
/****** Object:  ForeignKey [FK_Winner_Category]    Script Date: 10/04/2011 14:14:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Winner_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[Winner]'))
ALTER TABLE [dbo].[Winner]  WITH CHECK ADD  CONSTRAINT [FK_Winner_Category] FOREIGN KEY([CatogoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Winner_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[Winner]'))
ALTER TABLE [dbo].[Winner] CHECK CONSTRAINT [FK_Winner_Category]
GO
/****** Object:  ForeignKey [FK_Winner_Event]    Script Date: 10/04/2011 14:14:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Winner_Event]') AND parent_object_id = OBJECT_ID(N'[dbo].[Winner]'))
ALTER TABLE [dbo].[Winner]  WITH CHECK ADD  CONSTRAINT [FK_Winner_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Winner_Event]') AND parent_object_id = OBJECT_ID(N'[dbo].[Winner]'))
ALTER TABLE [dbo].[Winner] CHECK CONSTRAINT [FK_Winner_Event]
GO
/****** Object:  ForeignKey [FK_Winner_User]    Script Date: 10/04/2011 14:14:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Winner_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[Winner]'))
ALTER TABLE [dbo].[Winner]  WITH CHECK ADD  CONSTRAINT [FK_Winner_User] FOREIGN KEY([UserEmail])
REFERENCES [dbo].[User] ([Email])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Winner_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[Winner]'))
ALTER TABLE [dbo].[Winner] CHECK CONSTRAINT [FK_Winner_User]
GO
