body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('images/error.png');
}

.validation-summary-valid
{
    display: none;
}

/* Styles for main layout forms
-----------------------------------------------------------*/

div#header  
{
    color: #0099CC; 
    border-bottom: 2px solid #002C71; 
    font: bold 5em "Arial Narrow", "Franklin Gothic Medium", Arial; 
}

div#content  
{
    border-left: 2px solid gray; 
    margin-left: 15em; 
    padding: 1em; 
}

div#menu  
{
    float: left; 
    width: 15em; 
    padding-top: 0; 
}

/* Style for top right text.
-----------------------------------------------------------*/
.topright
{
    font: .25em "Arial Narrow", "Franklin Gothic Medium", Arial; 
    /*margin: .5em; */
    margin-top: 45px;
    text-align:right;
    float: right;
}


/* Styles for create and edit events page 
-----------------------------------------------------------*/
.event h6
{
    margin-top: 0px;
}

.eventheader
{
    margin-bottom: 0px;
}

.eventForm label
{
    font-weight: bold;
}

.eventForm .text-box 
{
    width: 250px;
}

.eventForm .multi-line
{
    height: 200px;
}

/* Styles for Event details view
-----------------------------------------------------------*/

.eventdetails label
{
    font-weight: bold;
}

/* Styles for message boxes
-----------------------------------------------------------*/

body{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:13px;
}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('images/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/error.png');
}
